.toDoWrapper {
  background: lightgray;
  border-radius: 5px;
  padding: 2rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  width: 80%;
  height: 70vh;
  max-width: 60%;
  display: flex;
  flex-direction: column;
}
