.tipPercentage{
  background-color: lightslategrey;
  border-radius: 15px;
  width: 30%; /* Adjust as needed, depending on your layout requirements */
  margin-bottom: 20px; /* Add some margin between items */
  padding: 10px;
  box-sizing: border-box;
  height: 150px; /* Set the container height */
}

.tipWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  width: 30%; /* Adjust as needed, depending on your layout requirements */
  margin-bottom: 20px; /* Add some margin between items */
  background-color: #ddd; /* Just for visibility */
  padding: 10px;
  box-sizing: border-box;
}


